In [1]:
#Importing libraries
import numpy as np
import json
import pandas as pd

# Converting an existing dataset to coco format.
 (COCO) is the most popular object detection dataset at the moment.Due to the popularity of the dataset, the format that COCO uses to store annotations is often the go-to format when creating a new custom object detection dataset. The “COCO format” is a specific JSON structure dictating how labels and metadata are saved for an image dataset.
## The coco file format
    <dataset_dir>/  #for train data
    data/
        <filename0>.<ext>
        <filename1>.<ext>
        ...
    labels.json
    <dataset_dir>/  #for test data
    data/
        <filename0>.<ext>
        <filename1>.<ext>
        ...
    labels.json
    
To create this format i am splitting "bat_ball.csv" for training and testing

In [12]:
#loading origional csv file to split into train and test.
data = pd.read_csv(r"E:\data\bat_ball.csv")

In [13]:
data

,class,x-axis,y-axis,width,height,name,image_width,image_height
0,ball,308,382,26,16,U5_3_9.png,680,720
1,bat,351,202,57,26,U5_3_9.png,680,720
2,ball,235,370,27,24,U4_7_27.png,680,720
3,bat,314,337,56,85,U4_7_27.png,680,720
4,ball,238,373,24,22,U4_7_27.png,680,720
...,...,...,...,...,...,...,...,...
1852,bat,238,254,55,53,U2_13_19.png,680,720
1853,ball,329,436,16,17,U2_13_19.png,680,720
1854,bat,241,255,52,47,U2_13_19.png,680,720
1855,bat,307,351,100,79,U13_5_16.png,680,720
1856,ball,357,340,22,36,U13_5_16.png,680,720

# Split the dataset into train_annot(train data),val_annot(validation data)

In [1]:
#For train data creating a csv file

In [15]:
val_list = ['U1_14_9', 'U1_14_17', 'U1_16_14', 'U1_16_25', 'U1_17_11', 'U2_1_25', 'U2_2_24', 'U2_2_33', 'U2_3_28',
           'U2_5_18', 'U2_6_20', 'U2_7_27', 'U2_9_13', 'U2_11_12', 'U2_11_16', 'U2_12_19', 'U2_12_33', 'U2_13_20',
           'U2_14_14', 'U2_17_7', 'U2_17_18', 'U3_2_6', 'U3_3_19', 'U3_4_8', 'U4_0_16', 'U4_0_21', 'U4_0_29',
           'U4_1_23', 'U4_3_10', 'U4_3_22', 'U4_8_17', 'U4_9_9', 'U4_9_24', 'U4_9_25', 'U4_11_16', 'U4_11_17',
           'U4_12_17', 'U4_13_11', 'U4_14_15', 'U4_15_7', 'U4_15_20', 'U4_16_16', 'U4_19_12', 'U4_20_18', 'U4_21_16',
           'U4_22_16', 'U5_0_16', 'U5_1_9', 'U5_5_21', 'U5_6_19', 'U5_8_6', 'U5_9_7', 'U5_10_7', 'U6_1_17', 'U6_2_27', 
           'U6_4_11', 'U6_4_18', 'U6_5_10', 'U6_7_21', 'U6_8_12', 'U6_8_19', 'U6_8_25', 'U6_8_33', 'U6_9_8', 'U6_10_6',
           'U6_12_10', 'U6_13_8', 'U6_13_14', 'U6_13_17', 'U6_14_14', 'U6_15_7', 'U6_16_15', 'U6_17_14', 'U8_1_17',
           'U8_5_17', 'U10_0_22', 'U10_1_20', 'U12_0_15', 'U12_1_10']
len(val_list)

for i in range(79):
    val_list[i] = val_list[i] + '.png'
    
train_annot = data.loc[data['name'].isin(val_list) == False]
train_annot

,class,x-axis,y-axis,width,height,name,image_width,image_height
0,ball,308,382,26,16,U5_3_9.png,680,720
1,bat,351,202,57,26,U5_3_9.png,680,720
2,ball,235,370,27,24,U4_7_27.png,680,720
3,bat,314,337,56,85,U4_7_27.png,680,720
4,ball,238,373,24,22,U4_7_27.png,680,720
...,...,...,...,...,...,...,...,...
1852,bat,238,254,55,53,U2_13_19.png,680,720
1853,ball,329,436,16,17,U2_13_19.png,680,720
1854,bat,241,255,52,47,U2_13_19.png,680,720
1855,bat,307,351,100,79,U13_5_16.png,680,720
1856,ball,357,340,22,36,U13_5_16.png,680,720

In [16]:
train_annot.to_csv("train_annot.csv",index=False) #converting this train_annot dataframe into tarin_annot.csv file

In [2]:
#for test data creating a  csv file

In [17]:
val_list = ['U1_14_9', 'U1_14_17', 'U1_16_14', 'U1_16_25', 'U1_17_11', 'U2_1_25', 'U2_2_24', 'U2_2_33', 'U2_3_28',
           'U2_5_18', 'U2_6_20', 'U2_7_27', 'U2_9_13', 'U2_11_12', 'U2_11_16', 'U2_12_19', 'U2_12_33', 'U2_13_20',
           'U2_14_14', 'U2_17_7', 'U2_17_18', 'U3_2_6', 'U3_3_19', 'U3_4_8', 'U4_0_16', 'U4_0_21', 'U4_0_29',
           'U4_1_23', 'U4_3_10', 'U4_3_22', 'U4_8_17', 'U4_9_9', 'U4_9_24', 'U4_9_25', 'U4_11_16', 'U4_11_17',
           'U4_12_17', 'U4_13_11', 'U4_14_15', 'U4_15_7', 'U4_15_20', 'U4_16_16', 'U4_19_12', 'U4_20_18', 'U4_21_16',
           'U4_22_16', 'U5_0_16', 'U5_1_9', 'U5_5_21', 'U5_6_19', 'U5_8_6', 'U5_9_7', 'U5_10_7', 'U6_1_17', 'U6_2_27', 
           'U6_4_11', 'U6_4_18', 'U6_5_10', 'U6_7_21', 'U6_8_12', 'U6_8_19', 'U6_8_25', 'U6_8_33', 'U6_9_8', 'U6_10_6',
           'U6_12_10', 'U6_13_8', 'U6_13_14', 'U6_13_17', 'U6_14_14', 'U6_15_7', 'U6_16_15', 'U6_17_14', 'U8_1_17',
           'U8_5_17', 'U10_0_22', 'U10_1_20', 'U12_0_15', 'U12_1_10']
len(val_list)

for i in range(79):
    val_list[i] = val_list[i] + '.png'
    
val_annot = data.loc[data['name'].isin(val_list)]
val_annot

,class,x-axis,y-axis,width,height,name,image_width,image_height
11,ball,539,356,27,23,U6_1_17.png,680,720
12,bat,232,262,22,56,U6_1_17.png,680,720
48,ball,433,423,32,29,U4_0_21.png,680,720
68,ball,376,321,16,19,U4_3_10.png,680,720
69,bat,354,229,44,20,U4_3_10.png,680,720
...,...,...,...,...,...,...,...,...
1810,bat,274,153,26,36,U6_17_14.png,680,720
1827,ball,125,383,17,19,U4_9_25.png,680,720
1828,bat,298,110,23,85,U4_9_25.png,680,720
1835,ball,252,296,14,13,U6_13_8.png,680,720
1836,bat,255,210,42,31,U6_13_8.png,680,720

In [18]:
val_annot.to_csv("val_annot.csv",index=False)

# Converting csv file 'train_annot.csv','val_annot.csv' to json files

CoCo Json format was originally specified by CoCo Object Detection Competition. It stores object detection data in json format. The json contains following four fields.For training object detection model under Detectron2, only images, categories and annotations fields are mandatory , info and licenses field can be ignored.

{
"info": info,
"images": [image],
"annotations": [annotation],
"licenses": [license],
"categories": [category]
}


Images field contains list of dicts, with one dict for each image. It assigns image id to image name which is used in annotations field. Its structure for one single image is as follows:
{
"id": int,
"width": int,
"height": int,
"file_name": str,
"license": int,
"flickr_url": str,
"coco_url": str,
"date_captured": datetime,
}
For training on detectron2, only id, width, height and file_name field are mandatory.

Categories field contains list of dicts, with one dict for each category. It assigns category id to category name which is used in annotations field. Its structure for one single category is as follows:
{
"id": int,
"name": str,
"supercategory": str,
}


Annotations field contains list of dicts, with one dict for each label. We have to provide unique annotation id for each annotations. And we have to provide associated image id and category id. For detection task we have to provide bounding box coordinates and its area.in case of object detection task segmentation field can be left empty.
annotation{
"id": int,
"image_id": int,
"category_id": int,
"segmentation": [], 
"area": float,
"bbox": [x,y,width,height],
"iscrowd": 0,
}
So I convert  tensorflow object detection csv data into Coco Json format using following code.

In [3]:
#creating json file for 'train_annot.csv'

In [31]:
data=pd.read_csv(r"E:\data\data (1)\data\train_annot.csv")

In [32]:
data

,class,x-axis,y-axis,width,height,name,image_width,image_height
0,ball,308,382,26,16,U5_3_9.png,680,720
1,bat,351,202,57,26,U5_3_9.png,680,720
2,ball,235,370,27,24,U4_7_27.png,680,720
3,bat,314,337,56,85,U4_7_27.png,680,720
4,ball,238,373,24,22,U4_7_27.png,680,720
...,...,...,...,...,...,...,...,...
1665,bat,238,254,55,53,U2_13_19.png,680,720
1666,ball,329,436,16,17,U2_13_19.png,680,720
1667,bat,241,255,52,47,U2_13_19.png,680,720
1668,bat,307,351,100,79,U13_5_16.png,680,720
1669,ball,357,340,22,36,U13_5_16.png,680,720

In [33]:
data= data.rename(columns={'x-axis': 'x', 'y-axis': 'y'})

In [34]:
save_json_file = 'train_annot_new1.json'

In [35]:
images = []
categories = []
annotations = []

In [16]:
#category = {}
#category = {}
#category["supercategory"] = 'none'
#category["id"] = 0
#category["name"] = 'None'
#categories.append(category)

In [36]:
data['fileid'] = data['name'].astype('category').cat.codes
data['categoryid']= pd.Categorical(data['class'],ordered= True).codes
data['categoryid'] = data['categoryid']+1
data['annid'] = data.index

In [37]:
def image(row):
    image = {}
    image["height"] = row.image_height
    image["width"] = row.image_width
    image["id"] = row.fileid
    image["file_name"] = row.name
    return image

In [38]:
def category(row):
    category = {}
    category["supercategory"] = 'None'
    category["id"] = row.categoryid
    category["name"] = row[1]
    return category

In [39]:
def annotation(row):
    annotation = {}
    area = None
    annotation["segmentation"] = []
    annotation["iscrowd"] = 0
    annotation["area"] = area
    annotation["image_id"] = row.fileid

    annotation["bbox"] = [row.x, row.y, row.width,row.height ]

    annotation["category_id"] = row.categoryid
    annotation["id"] = row.annid
    return annotation

In [40]:
for row in data.itertuples():
    annotations.append(annotation(row))

In [41]:
imagedf = data.drop_duplicates(subset=['fileid']).sort_values(by='fileid')
for row in imagedf.itertuples():
    images.append(image(row))

In [42]:
catdf = data.drop_duplicates(subset=['categoryid']).sort_values(by='categoryid')
for row in catdf.itertuples():
    categories.append(category(row))

In [43]:
data_coco = {}
data_coco["images"] = images
data_coco["categories"] = categories
data_coco["annotations"] = annotations

In [44]:
json.dump(data_coco, open(save_json_file, "w"), indent=4)

A dummy super category needs to be assigned id of 0. We use that dummy category as super category for rest of the categories.
Then we iterate over each rows and populate images, categories and annotations fields.
I have trained detectron2 object detection model using cocojson data generated using above code.

In [4]:
#creating json file for test dataset.

In [45]:
data=pd.read_csv(r"E:\data\data (1)\data\val_annot.csv")

In [46]:
data

,class,x-axis,y-axis,width,height,name,image_width,image_height
0,ball,539,356,27,23,U6_1_17.png,680,720
1,bat,232,262,22,56,U6_1_17.png,680,720
2,ball,433,423,32,29,U4_0_21.png,680,720
3,ball,376,321,16,19,U4_3_10.png,680,720
4,bat,354,229,44,20,U4_3_10.png,680,720
...,...,...,...,...,...,...,...,...
182,bat,274,153,26,36,U6_17_14.png,680,720
183,ball,125,383,17,19,U4_9_25.png,680,720
184,bat,298,110,23,85,U4_9_25.png,680,720
185,ball,252,296,14,13,U6_13_8.png,680,720
186,bat,255,210,42,31,U6_13_8.png,680,720

In [47]:
data= data.rename(columns={'x-axis': 'x', 'y-axis': 'y'})

In [48]:
save_json_file='val_annot_new1.json'

In [49]:
images = []
categories = []
annotations = []

In [50]:
#category = {}
#category = {}
#category["supercategory"] = 'none'
#category["id"] = 0
#category["name"] = 'None'
#categories.append(category)

In [51]:
data['fileid'] = data['name'].astype('category').cat.codes
data['categoryid']= pd.Categorical(data['class'],ordered= True).codes
data['categoryid'] = data['categoryid']+1
data['annid'] = data.index

In [52]:
def image(row):
    image = {}
    image["height"] = row.image_height
    image["width"] = row.image_width
    image["id"] = row.fileid
    image["file_name"] = row.name
    return image

In [53]:
def category(row):
    category = {}
    category["supercategory"] = 'None'
    category["id"] = row.categoryid
    category["name"] = row[1]
    return category

In [54]:
def annotation(row):
    annotation = {}
    area = None
    annotation["segmentation"] = []
    annotation["iscrowd"] = 0
    annotation["area"] = area
    annotation["image_id"] = row.fileid

    annotation["bbox"] = [row.x, row.y, row.width,row.height ]

    annotation["category_id"] = row.categoryid
    annotation["id"] = row.annid
    return annotation

In [55]:
for row in data.itertuples():
    annotations.append(annotation(row))

In [56]:
imagedf = data.drop_duplicates(subset=['fileid']).sort_values(by='fileid')
for row in imagedf.itertuples():
    images.append(image(row))

In [57]:
catdf = data.drop_duplicates(subset=['categoryid']).sort_values(by='categoryid')
for row in catdf.itertuples():
    categories.append(category(row))

In [58]:
data_coco = {}
data_coco["images"] = images
data_coco["categories"] = categories
data_coco["annotations"] = annotations

In [59]:
json.dump(data_coco, open(save_json_file, "w"), indent=4)